@page "/"
@inherits ComponentBase

<h1>Hello, world!</h1>

@code {
    [CascadingParameter]
    LoadingIndicator loadingIndicator { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await loadingIndicator.Show();
        await Task.Delay(1);
        await loadingIndicator.Hide();
    }
}