@page "/"
@using GVM.Components
@inherits AuthorizedComponentPage

<p class="fw-bold">Modulo de seguridad: Terminado (Preguntar composite)</p>
<p class="fw-bold">BBDD de GVM: Casi terminada</p>
<p class="fw-bold">BBDD de Seguridad: Casi terminada</p>
