@page "/"
@using GVM.Data
@using Microsoft.EntityFrameworkCore
@inject GVMContext _context
@inherits ComponentBase

<h1>Hello, world!</h1>

@code {
    [CascadingParameter]
    LoadingIndicator loadingIndicator { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await loadingIndicator.Show();
        await _context.Clientes.ToListAsync();
        await loadingIndicator.Hide();
    }
}