@page "/compras"
@using GVM.Components
@using GVM.Components.Compras
@using GVM.Data.ViewModels;
@using GVM.Data.Entidades;
@using Microsoft.EntityFrameworkCore;
@inherits AuthorizedComponentPage

<div class="container-sm container-md">
    <div class="py-3">
        <MudTextField T="string" Variant="Variant.Outlined" Label="Buscar compras" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" />
    </div>
    <div class="py-3 text-center">
        <MudText Typo="Typo.h5" Class="fw-bold" Color="Color.Primary">Compras realizadas</MudText>
        <div class="list-group pt-2 text-start">
            @foreach (var compra in ComprasList)
            {
                <ItemCompra Compra="compra" AbrirDetalle="AbrirDetalle"/>
            }
        </div>
    </div>
    <div class="py-3 d-flex justify-content-center align-items-center">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Agregar Compra</MudButton>
    </div>
</div>

@code {
    [CascadingParameter]
    LoadingIndicator LoadingIndicator { get; set; }

    public List<CompraViewModel> ComprasList { get; set; } = new ();

    protected override async Task  OnInitializedAsync()
    {
        await LoadingIndicator.Show();

        List<Compra> compras = await GVMContext.Compras.ToListAsync();
        ComprasList = Mapper.Map<List<Compra>, List<CompraViewModel>>(compras);

        await LoadingIndicator.Hide();
    }

    // TODO: Funcion de busqueda
    public void RealizarBusqueda(ChangeEventArgs e)
    {
        
    }

    private void AbrirDetalle(int compraId)
    {
        NavigationManager.NavigateTo($"/compras/{compraId}");
    }

}