@using GVM.Data.ViewModels;
@inject NavigationManager _Navigation

<div class="bubble">
    <p><strong>Fecha:</strong> @Compra.Fecha</p>
    <p><strong>Descripcion:</strong> @Compra.Descripcion</p>
    <p><strong>Distribuidor:</strong> @Compra.Distribuidor.Nombre</p>
    <p><strong>Empleado:</strong> @Compra.Empleado.Nombre</p>
    <p><strong>Monto:</strong> $@Compra.Monto</p>
    <div class="button-container">
        <button class="bubble-button mud-theme-primary" @onclick="() => EditarCompraHandler(Compra.CompraId)">
            <span class="oi oi-pencil"></span> Editar
        </button>
    </div>
</div>

@code {
    [Parameter]
    public CompraViewModel Compra { get; set; }

    private void EditarCompraHandler(int CompraId)
    {
        _Navigation.NavigateTo($"/detallecompra/{Compra.CompraId}");
    }
}
