.bubble {
    background-color: #f0f0f0;
    border-radius: 5vw;
    padding: 2vw;
    margin-bottom: 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vw);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.bubble-button {
    border-radius: 2vw;
    padding: 1vw 10vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vw);
}