<div class="d-inline-flex justify-content-evenly bg-white d-grid border-top-1 border-dark fixed-bottom p-1 vw-100">
    <div class="d-flex align-items-center justify-content-center">
        <NavLink href="counter">
            <Button>
                <i class="fas fa-archive" />
                <div class="w-100">
                    Inventario
                </div>
            </Button>
        </NavLink>
    </div>
    <div>
        <NavLink href="counter">
            <Button>
                <i class="fas fa-money-bill-alt" />
                <div class="w-100">
                    Ventas
                </div>
            </Button>
        </NavLink>
    </div>
    <div>
        <NavLink href="counter">
            <Button Color="Color.Primary" class="m-2 border-1 shadow-md border-white inner-border rounded-3">
                <i class="fas fa-plus" />
            </Button>
        </NavLink>
    </div>
    <div>
        <NavLink href="counter">
            <Button>
                <i class="fas fa-truck" />
                <div class="w-100">
                    Envios
                </div>
            </Button>
        </NavLink>
    </div>
    <div>
        <NavLink href="counter">
            <Button>
                <i class="fas fa-bell" />
                <div class="w-100">
                    Informes
                </div>
            </Button>
        </NavLink>
    </div>
</div>