<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <Image Source="error_icon" class="rounded" alt="Error Image" />
        <h1 class="display-4 mt-2">Oops!</h1>
        <p class="lead">Ocurrio un error desconocido.</p>
        <a href="/" class="btn btn-primary mt-3">Intentar de nuevo</a>
    </div>
</div>
