@inherits ComponentBase
<CascadingValue Value="this">
    @if (_visible)
    {
        <div class="@(_solidBackdrop ? "solid-backdrop" : "transparent-backdrop")">
            <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary"/>
        </div>
    }
    @ChildContent
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private bool _visible = false;
    private bool _solidBackdrop = true;

    public async Task Show(bool solidBackdrop = true)
    {
        _visible = true;
        _solidBackdrop = solidBackdrop;
        await InvokeAsync(StateHasChanged);
    }


    public async Task Hide()
    {
        _visible = false;
        await InvokeAsync(StateHasChanged);
    }
}

<style>
    .solid-backdrop {
        position: fixed;
        z-index: 9999;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: white; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .transparent-backdrop {
        position: fixed;
        z-index: 9999;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.2);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>