@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">404 Not Found</h1>
            <p class="lead">Oops! La pagina que estas buscando no existe.</p>
            <a @onclick="RestoreStatus" class="btn btn-primary">Volver al Inicio</a>
        </div>
    </div>
</div>


@code
{
    [CascadingParameter]
    public ErrorBoundary? ErrorBoundary { get; set; }

    private void RestoreStatus()
    {
        NavigationManager.NavigateTo("/");
    }
}
