<div class="h-100 d-flex justify-content-center align-items-center bg-light border-1">
    <nav class="collapse d-lg-block sidebar collapse bg-light">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4 align-items-center">
                <div class="mb-3">
                    <NavLink href="/historialcompras">
                        <Button Size="Size.Medium">
                            <i class="fas fa-archive"></i>
                            <div class="w-100">
                                Inventario
                            </div>
                        </Button>
                    </NavLink>
                </div>
                <div class="mb-3">
                    <NavLink href="/">
                        <Button Size="Size.Medium">
                            <i class="fas fa-money-bill-alt"></i>
                            <div class="w-100">
                                Ventas
                            </div>
                        </Button>
                    </NavLink>
                </div>
                <div class="mb-3">
                    <NavLink href="/validar_seguridad">
                        <Button Size="Size.Medium" Color="Color.Primary" class="m-2 border-1 border-white inner-border rounded-3">
                            <i class="fas fa-plus"></i>
                        </Button>
                    </NavLink>
                </div>
                <div class="mb-3">
                    <NavLink href="/register">
                        <Button Size="Size.Medium">
                            <i class="fas fa-truck"></i>
                            <div class="w-100">
                                Envios
                            </div>
                        </Button>
                    </NavLink>
                </div>
                <div class="mb-3">
                    <NavLink href="index">
                        <Button Size="Size.Medium">
                            <i class="fas fa-bell"></i>
                            <div class="w-100">
                                Informes
                            </div>
                        </Button>
                    </NavLink>
                </div>
            </div>
        </div>
    </nav>
</div>