.inner-border {
    position: relative;
    overflow: hidden;
}

    .inner-border::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        bottom: 10%;
        border: 1px solid white;
        border-radius: inherit;
        pointer-events: none;
    }
